@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.background-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom, #ffd3f2, #b8d1ff);
  padding: 50px;
  box-sizing: border-box;
}

.logo-container {
  font-size: 48px;
  font-weight: bold;
}

.logo-container h1 {
  font-family: "comic-sans";
}

.logo-container span {
  font-size: 32px;
  font-weight: normal;
}

.io {
  font-size: 4em;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
  padding: 0.1em 0.4em;
  border-radius: 0.4em;
  background: linear-gradient(to right, #fd5d93, #c32f8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 480px) {
  .background-container {
    padding: 10px;
  }
}